.logo img {
    width: 128px;
}

header {
    display: flex;
    width: 100%;
    min-height: 64px;
    justify-content: space-around;
    border-bottom: 1px solid #0e0e0e;
    background-color:rgb(255, 219, 174);
}

.menu nav ul, .social ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.menu nav ul li, .social ul li {
    margin: 0px 12px;
}

.menu, .social {
    display: flex;
    align-items: center;
}

.menu a, .social a {
    text-decoration: none;
    color: #0e0e0e;
}

section.banner {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
section.banner .conteudo {
    background-color: #d2691e6b;
    padding: 12px;
}

section.banner .botao {
    margin: 12px;
    background-color:#ffb96640;
    border-radius: 12px;
    cursor: pointer;
}

section.sobre {
    width: 100%;
    margin: 12px;
    display: flex;
    flex-direction: row;
}

section.sobre div {
    width: 50vw;
    overflow: hidden;
}

section.sobre .conteudo {
    margin: 12px 24px;
}

section.sobre .imagem img {
    width: 100%;
}
section.produtos {
    width: 100%;
    margin: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;

}


section.jumbotron {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 90px auto;
    gap: 22px;

}

.banner-pequeno {
    margin: 0px 25px;
    padding: 18px;

}



section.jumbotron {
    width: 82%;
    display: flex;
    flex-direction: row;
    margin: 90px auto;
    gap: 22px;
    justify-content: center;   
    flex-wrap: wrap;  
}

    section.jumbotron div.banner-pequeno {
    margin: 0px 25px;
    padding: 42px;
    border: 1px solid #d8d8d8;
    border-radius: 6px;
    background: #fafafa;
    width: 100%;
}

section#artigos, section#livros {
    max-height: 0;
    overflow: auto;
}
section.jumbotron div.banner-pequeno h3, section.formulario h3 {
    font-size: 25px;
    
}

section.jumbotron div.banner-pequeno p, section.formulario p {
    font-size: 18px;
    line-height: 22px;
}

section.jumbotron div.banner-pequeno button, section.formulario #form input[type=submit]{
    background: transparent;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 18px;
}
section#livros div.produto {
    width: 22%;
    text-align-last: center;
}
section#livros.produtos img{
    width: 12vw;
    }
section.jumbotron div.banner-pequeno.dark button,
section.jumbotron div.banner-pequeno.dark p,
section.jumbotron div.banner-pequeno.dark h3{

    color: #fefefe;
    border-color: #fefefe;
}

section.jumbotron div.banner-pequeno.dark{
    background-color: #0f0f0f;

}
section.jumbotron div.banner-pequeno button:hover, section.formulario #form input[type=submit]:hover{
    background-color: #0e0e0e;
    color:#fefefe;
    border-color:#fefefe;
    cursor:pointer;
}

section.jumbotron div.banner-pequeno.dark button:hover{
    background-color:#fefefe;
    color:black;
    border-color:black;

}
section.formulario form#form input {
    width: 100%;
    padding: 6px;
    margin: 6px auto;
}

section.formulario form#form input {
    width: 100%;
    padding: 6px;
    margin: 6px auto;
}

section.formulario form#form input[type="submit"] {
    width: 180px;
    margin: 6px auto 6px 0px;
}

section.formulario form#form {
    width: 45vw;
    margin: 1rem auto;
}
section.formulario h3, section.formulario p{text-align:center;}
footer div.espacamento {
    width: 90%;
    height: 42px;
    border-bottom: 1px solid #adadad63;
    margin: 0px auto;}

    footer div.espacamento {
        width: 90%;
        height: 42px;
        border-bottom: 1px solid #adadad63;
        margin: 0px auto;
    }
    
    footer div.footer-interno {
        display: flex;
        flex-direction: row;
        gap: 6px;
        padding: 24px;
        margin: 12px auto;
        justify-content: space-around;
        color: #7c7c7cc7;
    }

    footer div.footer-interno .footer-coluna-1 img{
        width: 96px;
    }
    footer div.footer-interno .footer-coluna ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    footer div.footer-interno .footer-coluna ul li{
        margin: 6px auto;
    }
        footer div.footer-interno .footer-coluna ul li.titulo {
            font-size: 22px;
            font-weight: 800;
            color: #363636;
        }
    
        .produto img {
            max-width: 250px;
        }
        section.destaques h1 {
            width: 100%;
            text-align: center;
            margin: 42px 0px 0px 0px;
            font-size: 55px;
        }
        section.banner .botao a {
            font-style: unset;
            color: #0e0e0e;
            text-decoration: none;
            font-size: 24px;
            padding: 12px;
        }
        button.botao-artigos {
            border: 2px solid #000000;
            border-radius: 25px;
            font-size: 30px;
        }
        button.botao-livros {
            border: 2px solid #000000;
            border-radius: 25px;
            font-size: 30px;
        }


.active{
    max-height: 100vh !important;
}

header .logo img {
    width: 128px;
}
header .social ul li a img{
    width: 32px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#ffdbae;
    -webkit-animation: slide-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }  
  #meuheader .logo img.sticky {
    width: 60px;
    -webkit-animation: fade-in 0.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
    animation: fade-in 0.8s cubic-bezier(0.600, 0.040, 0.980, 0.335) both;
  }  
  .sticky + .content {
    padding-top: 102px;
  }

  @-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

  @-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
  
p {
    font-size: 30px;
    
}

.menu ul li a, section{
    font-family:Mina ;
}

section.banner .conteudo {
    border-radius: 20px;
    background-color: #d2691e6b;
    padding: 12px;
}
section.livros-btn {
    padding: 80px 0px 104px;
}

img{
    width: 30%;
}
h1{
    font-family:Mina ;
}